<div class="container">
  <div class= 'red white-text'>
    <h1 class="center-align">Profile Page</h1>
    <div class='user-information'>
      <%= image_tag "20150608_55copy.jpg", height: '200', width: '320'  %><br />
      <%= @user.first_name %> <%= @user.last_name%>
      <div class="col m8 offset-m6 grid-example"><span class="flow-text">Don't care much for fancy parties. Too rough. Stay away from hyena people, or any loser athletes, or if you see anyone who's invisible. Well, excuse me, Mr. I-spent-the-sixties-in-an-electric-Kool-Aid-funky-Satan-groove! You're recently married! First of all, Feng Shui up the yin yang, also I designed parts of it but I did not design the stone cold foxes in the small clothes and the ample massage facilities. Passion rules us all.</span></div>
    </div>
    </div>
  </div>
</div>