<h2 class="center-align white-text welcome-header"> Welcome <%= current_user.first_name %> </h2>

<div class="container">

  <div class="row">
    <div class="col s12 m4">
      <p class="z-depth-5"></p>
      <div class="card blue">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://s.graphiq.com/sites/default/files/980/media/images/t2/Hillary_Clinton_1786283.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator white-text">Hilary Clinton<i class="material-icons right">info_outline</i></span>
          <br />
          <span><a class="btn-floating btn-small waves-effect waves-light purple"><i class="material-icons">add</i></a></span>
          <div></div>
          
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Hilary Clinton<i class="material-icons right">close</i></span>
          <p>Our pride is based on a very simple premise, summed up in a declaration made over two hundred years ago: We hold these truths to be self-evident, that all men are created equal. When we send our young men and women into harm's way, we have a solemn obligation not to fudge the numbers or shade the truth about why they're going, to care for their families while they're gone, to tend to the soldiers upon their return, and to never ever go to war without enough troops to win the war, secure the peace, and earn the respect of the world. Not just with words, but with deeds - by investing in our schools and our communities; by enforcing our civil rights laws and ensuring fairness in our criminal justice system; by providing this generation with ladders of opportunity that were unavailable for previous generations. And fault lines must be closed among Muslims as well, as the divisions between Sunni and Shia have led to tragic violence, particularly in Iraq.
          Thank you.</p>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
    <p class="z-depth-5"></p>
    <div class="card red">
        <div class="card-image waves-effect waves-block waves-light">
         <img class="activator" src="https://s2.graphiq.com/sites/default/files/980/media/images/t2/Rand_Paul_5645560.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator white-text">Rand Paul<i class="material-icons right">info_outline</i></span>
          <br />
          <span><a class="btn-floating btn-small waves-effect waves-light purple"><i class="material-icons">add</i></a></span>
          <div></div>
          
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Rand Paul<i class="material-icons right">close</i></span>
          <p>She was born in a town on the other side of the world, in Kansas. Today there are 12 million undocumented immigrants in America, most of them working in our communities, attending our churches, and contributing to our country. On science and technology, we will launch a new fund to support technological development in Muslim-majority countries, and to help transfer ideas to the marketplace so they can create jobs.
          Thank you, and God bless America.</p>
        </div>
      </div>
      </div>

    <div class="col s12 m4">
    <p class="z-depth-5"></p>
    <div class="card red">
        <div class="card-image waves-effect waves-block waves-light">
         <img class="activator" src="https://s.graphiq.com/sites/default/files/980/media/images/t2/Carly_Fiorina_6036992.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator white-text">Carly Fiorina<i class="material-icons right">info_outline</i></span>
          <br />
          <span><a class="btn-floating btn-small waves-effect waves-light purple"><i class="material-icons">add</i></a></span>
          <div></div>
          
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Carly Fiorina<i class="material-icons right">close</i></span>
          <p>The church contains in full the kindness and cruelty, the fierce intelligence and the shocking ignorance, the struggles and successes, the love and yes, the bitterness and bias that make up the black experience in America. It's because John McCain doesn't get it. I don't know what kind of lives John McCain thinks that celebrities lead, but this has been mine. We are the party of Kennedy. I do not believe that women must make the same choices as men in order to be equal, and I respect those women who choose to live their lives in traditional roles.
          Thank you, God Bless you, and God Bless the United States of America.</p>
        </div>
      </div>
      </div>
      </div>

      <div class="row">
    <div class="col s12 m4">
    <p class="z-depth-5"></p>
    <div class="card red">
        <div class="card-image waves-effect waves-block waves-light">
         <img class="activator" src="https://s.graphiq.com/sites/default/files/980/media/images/t2/Ben_Carson_6036997.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator white-text">Ben Carson<i class="material-icons right">info_outline</i></span>
          <br />
          <span><a class="btn-floating btn-small waves-effect waves-light purple"><i class="material-icons">add</i></a></span>
          <div></div>
          
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Ben Carson<i class="material-icons right">close</i></span>
          <p>My parents shared not only an improbable love, they shared an abiding faith in the possibilities of this nation. I would not be running for President if I didn't believe with all my heart that this is what the vast majority of Americans want for this country. And today, as my call for a time frame to remove our troops from Iraq has been echoed by the Iraqi government and even the Bush Administration, even after we learned that Iraq has a $79 billion surplus while we're wallowing in deficits, John McCain stands alone in his stubborn refusal to end a misguided war. They endure the daily humiliations - large and small - that come with occupation.
          Thank you, God Bless you, and God Bless the United States of America.</p>
        </div>
      </div>
      </div>

    <div class="col s12 m4">
    <p class="z-depth-5"></p>
    <div class="card blue">
        <div class="card-image waves-effect waves-block waves-light">
         <img class="activator" src="https://s3.graphiq.com/sites/default/files/980/media/images/t2/Bernie_Sanders_1786280.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator white-text">Bernie Sanders<i class="material-icons right">info_outline</i></span>
          <br />
          <span><a class="btn-floating btn-small waves-effect waves-light purple"><i class="material-icons">add</i></a></span>
          <div></div>
          
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Bernie Sanders<i class="material-icons right">close</i></span>
          <p>Hope in the face of uncertainty. We have the most powerful military on Earth, but that's not what makes us strong. And throughout history, Islam has demonstrated through words and deeds the possibilities of religious tolerance and racial equality. That is why the United States will partner with any Muslim-majority country to support expanded literacy for girls, and to help young women pursue employment through micro-financing that helps people live their dreams.
          Thank you very much everybody.</p>
        </div>
      </div>
      </div>

    <div class="col s12 m4">
    <p class="z-depth-5"></p>
    <div class="card red">
        <div class="card-image waves-effect waves-block waves-light">
         <img class="activator" src="https://s2.graphiq.com/sites/default/files/980/media/images/t2/Donald_Trump_6522122.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator white-text">Donald Trump<i class="material-icons right">info_outline</i></span>
          <br />
          <span><a class="btn-floating btn-small waves-effect waves-light purple"><i class="material-icons">add</i></a></span>
          <div></div>
        
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Donald Trump<i class="material-icons right">close</i></span>
          <p>In that time, I've had the chance to talk with Americans all across this country. Understanding this reality requires a reminder of how we arrived at this point. That legacy of defeat was passed on to future generations - those young men and increasingly young women who we see standing on street corners or languishing in our prisons, without hope or prospects for the future. In the end, then, what is called for is nothing more, and nothing less, than what all the world's great religions demand - that we do unto others as we would have them do unto us. Yet in this new age, such attitudes are self-defeating.
          Thank you. And may God's peace be upon you. </p>
        </div>
      </div>
      </div>
      </div>