
body {
  background-color:#b3e5fc; 
  background-image: url(http://www.wallpaperup.com/uploads/wallpapers/2014/03/09/292314/big_thumb_bb9276eb23b47294f58d25d683bb85aa.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  
}

.user-information {
  
  padding-left: 10px;
}

h2 {
  
   text-shadow: 4px 4px #000000;

}